@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: rgb(92, 88, 88);
  padding: 15px;
  border-radius: 30px;
  height: 450px;
  width: 300px;
  margin: 15px;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid rgba(68, 68, 68, 0.582);
  border-radius: 10px;
  margin-bottom: 2px;

}

.form {
  display: flex;
  gap: 7px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
}

.form input {
  padding: 10px;
  width: 100%;
  outline: 0;
}

.submit-btn {
  padding: 10px;
  border: 2px solid #02bcfa;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 600;
  outline: 0;
  transition: all .2s ease-in-out;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  color: #02bcfa;
}

.submit-btn:hover {
  background-color: #02bcfa;
  color: #fff;
}

.value {
  width: 70%;
  text-align: left;
  overflow-x: hidden;
}

.buttons {
  text-align: right;
  width: 30%;
}